$xs-screen-breakpoint--max: 599px;

$s-screen-breakpoint--min: 600px;
$s-screen-breakpoint--max: 959px;

$m-screen-breakpoint--min: 960px;
$m-screen-breakpoint--max: 1263px;

$l-screen-breakpoint--min: 1264px;
$l-screen-breakpoint--max: 1903px;

$Xl-screen-breakpoint--min: 1904px;
